@import "./variables.scss";

:focus,
.form-control:focus {
  border: none;
  box-shadow: none;
  outline: 5px solid $focus-outline;
  border-radius: 16px;
}

#search-icon-yellow:focus {
  outline: 0px !important;
}

#body {
  background-color: $main-bg-color;
}

main * {
  font-family: "Manrope", sans-serif;
}

//..........header..............

.custom-header-img {
  height: 42rem;
  object-fit: cover;
}

.custom-header-content {
  height: 42rem;
}

.custom-header-content .custom-logo {
  height: 1.6rem;
  color: $light;
}

.custom-h1 {
  color: $yellow;
  font-family: "Anton", sans-serif;
  font-size: 2.75rem;
  line-height: 5.5rem;
  width: 55%;
}

.custom-searchbar {
  height: 6.2vh;
  width: 65%;
  height: 4.5rem;
  background-color: $light;
  border-radius: 10px;
}

.custom-input-header {
  font-family: "Manrope", sans-serif;
  border: none;
  background-color: transparent;
}

@media (max-width: 600px) {
  .custom-h1 {
    font-size: 2rem;
    line-height: 4rem;
    width: 90%;
  }
  .custom-input-header::placeholder {
    overflow-x: auto;
    text-overflow: ellipsis;
  }
}

@media (min-width: 601px) and (max-width: 1280px) {
  .custom-h1 {
    font-size: 2.45rem;
    line-height: 4.9rem;
    width: 55%;
  }
}

//............filters...........

.custom-container-filter {
  width: 11.75rem;
  border-radius: 16px;
}

.custom-arrow {
  height: 0.6rem;
  width: 1.3rem;
}

.custom-input-filter {
  border: 2px solid $lightGrey !important;
  border-radius: 5px;
  height: 3rem;
}

.custom-loop-light {
  height: 2rem;
  margin-bottom: 0.5rem;
}

.custom-filter-list {
  height: auto;
  max-height: 11.5rem;
  overflow: scroll;
  font-size: 0.875rem;
}

.bg-yellow {
  background-color: $yellow;
}

.custom-selected-filter {
  border-radius: 16px;
}

//total recipes
@media (max-width: 768px) {
  .total-recipes {
    position: relative !important;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  .total-recipes {
    margin-top: 4rem;
  }
}

//recipes

.section-recipes {
  height: 100vh;
}

.custom-container-recipe {
  font-size: 0.88rem;
  // width: 30.8%;
  width: 23.75rem;
  height: 45.7rem;
  border-radius: 16px;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}

.custom-container-recipe-img {
  height: 34.5%;
  width: 100%;
}

.custom-time {
  background-color: $yellow;
  border-radius: 16px;
}

.recipe-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.custom-h2 {
  font-family: "Anton", sans-serif;
}

.custom-description {
  height: 5.1rem;
  word-wrap: break-word;
  white-space: normal;
}

.custom-h3 {
  font-size: 0.75rem;
  color: $grey;
}

.ingredient-quantity {
  color: $grey;
}
